<!DOCTYPE html>
<html>

<head>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Notflix</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i'
      type='text/css' media='all' />
   <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
   <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #000000;">
         <a class="navbar-brand" style="color: red;" href="/"> <img src="./img/BigNRed.png" alt="Notflix"
               style="width: 25px; height: 40px;"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item inactive">
                  <a class="nav-link dropdown-toggle" href="#" id="homeDropDownMenuLink" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">Home </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="/Home">Home</a>
                     <a class="dropdown-item" href="/Home">Movies</a>
                     <a class="dropdown-item" href="#">Shows</a>
                     <a class="dropdown-item" href="#">Settings</a>
                  </div>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     Movies
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="/Action">Action</a>
                     <a class="dropdown-item" href="/Comedy">Comedy</a>
                     <a class="dropdown-item" href="/Sci-Fi">Sci-Fi</a>
                     <a class="dropdown-item" href="/Horror">Horror</a>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" href="#">Shows</a>
               </li>
            </ul>
            <!-- Start of Search -->
            <form name="frmSearch" method="POST" class="form-inline mt-2 mt-md-0">
               <input name="txtSearch" class="form-control mr-sm-2" type="text" placeholder="Search"
                  aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               <ul>
                  <% if(typeof search !='undefined' && search==true){%>
                     <a href="/"> Clear Results</a>
                     <% } %>
               </ul>
            </form>
         </div>
      </nav>
   </header>
</body>

</html>